@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 00;
  padding: 0;
}

body {
  background-color: #FFF;
  background-image: url(image/Line.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1200px;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site_header {
  padding: 52px 0;
  margin: 0 auto;
}

.logo img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.logo_title {
  color: #292F36;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
  /* 50px */
  margin: 0 auto;
}

.nav_item {
  margin-left: 31px;
}

.nav_link {
  color: #292F36;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  /* 25px */
  text-decoration: none;
}

.bx-search {
  font-size: 25px
}

.hero_content {
  background-image: url(image/banner.jpg);
  background-size: 100% 100%;
}

.hero_container {
  padding-top: 200px;
  padding-left: 505px;
}

.hero_center {
  display: flex;
  width: 503px;
  padding: 41px 152px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 37px 37px 0px 0px;
  background: #FFF;
}

.hero_title {
  color: #292F36;
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
  margin: 0 auto;
}

.hero_text {
  color: #4D5053;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
  margin-top: 0;
}

/* Service */

.service {
  width: 1158px;
  height: 704px;
  margin-top: 200px;
}

.servis_plan {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 140px;
}

.servis_content {
  width: 358px;
  height: 225px;
  text-align: center;
  margin-left: 42px;
}

.servis_title {
  color: #292F36;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 20px;
}

.servis_text {
  width: 358px;
  color: #4D5053;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-bottom: 52px;
}

.servis_btn {
  color: #4D5053;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  text-decoration: none;
}

.bx-right-arrow-alt {
  width: 15px;
  height: 13px;
  color: #CDA274;
}

.servis_plan2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 140px;
  padding-top: 88px;
}

.servis_content2 {
  width: 398px;
  height: 391px;
  text-align: center;
  margin-left: 21px;
  border-radius: 30px;
  background: #F4F0EC;
  padding: 83px 20px;

}

.work {
  width: 1200px;
  height: 2718px;
  border-radius: 70px;
  background: #F4F0EC;
  margin-top: 200px;
  margin-left: 160px;
}

.work_heading {
  width: 802px;
  height: 146px;
  padding-top: 160px;
  margin-left: 200px;
  margin-bottom: 100px;
}

.heading_title {
  color: #363B41;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.heading_text {
  color: #4D5053;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.works {
  width: 967px;
  height: 485px;
  padding-top: 100px;
  padding-left: 116px;
  display: flex;
}

.works2 {
  width: 967px;
  height: 485px;
  padding-top: 150px;
  margin-left: 140px;
  display: flex;
  flex-direction: row-reverse;
  gap: 70px;
  margin-bottom: 100px;
}

.concept {
  width: 485.605px;
  height: 453px;
  transform: rotate(-360deg);
  flex-shrink: 0;
  border-radius: 0px 123px 0px 326px;
  padding-right: 51px;
}

.works_content1 {
  padding-top: 70px;

}


.foto1 {
  width: 92px;
  height: 92px;
  margin-right: 253px;
}

.foto3 {
  width: 92px;
  height: 92px;
  margin-right: 253px;
}

.number {
  width: 107px;
  height: 102px;
}

.number3 {
  width: 102px;
  height: 92px;
}

.works_title {
  color: #292F36;
  font-family: 'DM Serif Display', serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 125%;
  padding-top: 58px;
}

.works_text {
  width: 456px;
  color: #4D5053;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  padding-top: 11px;
}

.wanna {
  width: 1200px;
  height: 374px;
  border-radius: 70px;
  background: #292F36;
  margin: 200px 160px 200px 160px;
}

.wanna_content {
  padding: 80px 315px;
  align-items: center;
}

.wanna_title {
  color: #FFF;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 11px;
}

.wanna_text {
  color: #FFF;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-bottom: 64px;
}

.wanna_btn {
  color: #FFF;
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  text-decoration: none;
  border-radius: 18px;
  background: #CDA274;
  box-shadow: 0px 10px 20px 0px #1F2022;
  padding: 26px 37px;
  margin-left: 160px;
  
}

.bxs-right-top-arrow-circle {
  width: 15px;
  height: 13px;
  padding-left: 11px;
}

/* footer */

.futer_container {
  height: 577px;
}

.futer_row {
  justify-content: flex-start;
  display: flex;
  gap: 101px;
  padding-left: 160px;
}

.logo_futer {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
}

.futer_img {
  width: 34px;
  height: 34px;
}

.with_logo {
  width: 393px;
}

.futer_title {
  color: #292F36;
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
  margin: 0 auto;
}

.futer_text {
  color: #4D5053;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}

.futer_list {
  display: flex;
  gap: 54px;
  margin-top: 31px;
}

.futer_link {
  color: #292F36;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  /* 21.6px */
  letter-spacing: 0.99px;
  text-transform: uppercase;
}

.futer_page_title {
  color: #292F36;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
}

.futer_pages {
  width: 120px;
  height: 330px;
}

.list_item {
  color: #4D5053;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
}

.futer_pages2 {
  padding-top: 26px;
  width: 258px;
  height: 215px;
}

.list_item1 {
  color: #4D5053;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
  padding: 0 auto;
}

.list_item2 {
  color: #4D5053;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
}

.futer_powered {
  text-align: center;
  color: #4D5053;
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-top: 174px;
}